NiFi Code/Weather_observation_merge.json
{"flowContents":{"identifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","instanceIdentifier":"ad851454-3449-1af5-6786-682e37229974","name":"Weather observation merge","comments":"","position":{"x":2456.0,"y":-320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1bdb7c46-5ec8-3d2a-93ff-9c640788ef07","instanceIdentifier":"ad85148f-3449-1af5-b6e0-b06c3764385a","name":"ConvertAvroToJSON","comments":"","position":{"x":2624.0,"y":256.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.18.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"400e523b-15a1-3e11-9768-dd41f28ba9e2","instanceIdentifier":"ad8514af-3449-1af5-2155-62cb3549a829","name":"SplitJson","comments":"","position":{"x":4320.0,"y":912.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"1afee547-16cd-3635-8a12-009a57970cf2","instanceIdentifier":"ad85148d-3449-1af5-5689-982ca394a216","name":"PutSQL","comments":"","position":{"x":2624.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"2def6282-2330-3912-b79c-7d661cfd2469","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"db1969f3-07a3-378a-8ac5-be1255a3af33","instanceIdentifier":"ad8514f1-3449-1af5-db2e-1c12acc58586","name":"UpdateAttribute","comments":"","position":{"x":3768.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"field_type":"string","field_name":"ice"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"field_type":{"name":"field_type","displayName":"field_type","identifiesControllerService":false,"sensitive":false},"field_name":{"name":"field_name","displayName":"field_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"ca5e4978-3258-30d0-bcf5-7ca9a86a4307","instanceIdentifier":"ad85151e-3449-1af5-2ece-8e3d15054d87","name":"ConvertAvroToJSON","comments":"","position":{"x":5632.0,"y":120.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.18.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"42eceb12-6c9b-345f-847b-45381ef2691c","instanceIdentifier":"ad8514a6-3449-1af5-494f-401e8a45b062","name":"Snow","comments":"","position":{"x":3400.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT observation_date, observation_time, location_name\nFROM weather_data \nWHERE snow is null\nAND original_source = 'Visual Crossing'\nAND location_name not like 'Gwynt-y-Mor%'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"0619f26b-e6e3-3881-aba1-fc5ba743fe90","instanceIdentifier":"ad851516-3449-1af5-b794-33872973c247","name":"UpdateAttribute","comments":"","position":{"x":5240.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"field_type":"numeric","field_name":"visibility_km"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"field_type":{"name":"field_type","displayName":"field_type","identifiesControllerService":false,"sensitive":false},"field_name":{"name":"field_name","displayName":"field_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"4697fb57-08d9-3852-9f73-fb5178f13225","instanceIdentifier":"ad851493-3449-1af5-234f-d15a58b6306b","name":"Select data Barzowice","comments":"","position":{"x":2256.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_meteostat\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Barzowice'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"5d5ce8bb-15f1-3087-9f67-d93da0bffcc2","instanceIdentifier":"3a662065-885a-3590-9675-f42a1c758f75","name":"PutSQL","comments":"","position":{"x":752.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"2def6282-2330-3912-b79c-7d661cfd2469","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"f4aa962f-e629-3f41-9982-3c8ffa7c3dd6","instanceIdentifier":"ad851470-3449-1af5-e6b4-a4e131e85e30","name":"Select data Nordsee Ost","comments":"","position":{"x":1120.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_visual_crossing\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Nordsee Ost'\nAND source = 'obs'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"56c077c2-6b1d-3268-940f-77a72c03ca0f","instanceIdentifier":"ad851476-3449-1af5-8030-108dcd4e3d74","name":"Select data Putlitz","comments":"","position":{"x":16.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_visual_crossing\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Putlitz'\nAND source = 'obs'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"3ae97438-2d7a-3244-9476-9ebaac245f92","instanceIdentifier":"ad85145d-3449-1af5-9b2f-8930a75f88a4","name":"SplitJson","comments":"","position":{"x":752.0,"y":464.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"d8e23a70-efc2-36f0-915d-ae688f271f88","instanceIdentifier":"ad85150e-3449-1af5-220d-0a23ef7174b8","name":"Wind gusts","comments":"","position":{"x":4872.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT observation_date, observation_time, location_name\nFROM weather_data \nWHERE windgusts_m_s is null\nAND original_source = 'Visual Crossing'\nAND location_name not like 'Gwynt-y-Mor%'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"6caac324-3a6a-3a51-8a21-5b0b46ca4bb3","instanceIdentifier":"ad8514ad-3449-1af5-8112-a034c7bd1089","name":"ConvertAvroToJSON","comments":"","position":{"x":4320.0,"y":488.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.18.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"b2384aab-54b6-3cfe-b9ca-7ab02e1c82ea","instanceIdentifier":"ad85148c-3449-1af5-a139-9f094cba1419","name":"ReplaceNull","comments":"","position":{"x":2624.0,"y":880.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Regular Expression":"'NULL'","Replacement Value":"NULL","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"b4375933-a9c5-30b5-b2a7-536e8231b833","instanceIdentifier":"ad85151c-3449-1af5-14c9-493b27a1659f","name":"ExecuteSQL","comments":"","position":{"x":5632.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2def6282-2330-3912-b79c-7d661cfd2469","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_siemens\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"60a9a5ef-b5f9-395c-b689-e01ab3805cc1","instanceIdentifier":"ad8514d8-3449-1af5-be9f-29474a2a3dc2","name":"ConvertAvroToJSON","comments":"","position":{"x":4320.0,"y":1624.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.18.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"66e15bde-a854-3bb9-8e24-94651c11b57f","instanceIdentifier":"ad851510-3449-1af5-8105-4d3be831af97","name":"UpdateAttribute","comments":"","position":{"x":4872.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"field_type":"numeric","field_name":"windgusts_m_s"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"field_type":{"name":"field_type","displayName":"field_type","identifiesControllerService":false,"sensitive":false},"field_name":{"name":"field_name","displayName":"field_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"9e61729d-2785-338f-bc2d-b9ac43fc131c","instanceIdentifier":"ad851494-3449-1af5-2d99-7c3f0fa238bc","name":"Select data Putlitz","comments":"","position":{"x":1888.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_meteostat\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Putlitz'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"1c356a1a-ef20-3dc7-9716-c8876a3a7261","instanceIdentifier":"ad851492-3449-1af5-255b-161ad4ffd994","name":"Select data Nordsee Ost","comments":"","position":{"x":2992.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_meteostat\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Nordsee Ost'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"9a8b2347-b046-3434-b203-0a4cec73efa0","instanceIdentifier":"ad8514d0-3449-1af5-238f-aadf59b3a38b","name":"ExecuteSQL","comments":"","position":{"x":4320.0,"y":1352.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2def6282-2330-3912-b79c-7d661cfd2469","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"44046a66-8ace-38b6-8f5c-63d4e4c4e77b","instanceIdentifier":"ad85152a-3449-1af5-3bb4-4bc24cc57e1d","name":"PutSQL","comments":"","position":{"x":5632.0,"y":808.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"2def6282-2330-3912-b79c-7d661cfd2469","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"b520ff2f-c30c-35bf-b352-cd78b8ebe969","instanceIdentifier":"ad851457-3449-1af5-ffc6-d03861fe93e7","name":"ConvertAvroToJSON","comments":"","position":{"x":752.0,"y":256.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.18.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"9c0b9a72-e2db-3cd3-a1cc-7b2a3fec49b4","instanceIdentifier":"ad8514db-3449-1af5-1d8f-fff8ea67bf7b","name":"ReplaceEmptyString","comments":"","position":{"x":4320.0,"y":2432.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Regular Expression":"''","Replacement Value":"NULL","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"23653b3e-29d7-32c3-8d67-74d3db0d012b","instanceIdentifier":"ad8514d7-3449-1af5-188c-bf3e9e8cfd74","name":"PutSQL","comments":"","position":{"x":4320.0,"y":2640.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"2def6282-2330-3912-b79c-7d661cfd2469","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"239fabe4-bacb-3c15-9531-5b1260b40c3c","instanceIdentifier":"ad85150a-3449-1af5-e2cb-b50e5777cd1d","name":"UpdateAttribute","comments":"","position":{"x":4136.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"field_type":"numeric","field_name":"temperature_c"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"field_type":{"name":"field_type","displayName":"field_type","identifiesControllerService":false,"sensitive":false},"field_name":{"name":"field_name","displayName":"field_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"a2e8ed6d-2214-3631-8ee1-f1f386e906e1","instanceIdentifier":"ad8514ca-3449-1af5-81ec-05c984ba233f","name":"UpdateAttribute","comments":"","position":{"x":4504.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"field_type":"numeric","field_name":"windspeed_m_s"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"field_type":{"name":"field_type","displayName":"field_type","identifiesControllerService":false,"sensitive":false},"field_name":{"name":"field_name","displayName":"field_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"09db635b-fb89-31b8-9889-e6ec91da6214","instanceIdentifier":"ad8514e7-3449-1af5-ccf3-3d5343754245","name":"RouteOnAttribute","comments":"","position":{"x":4320.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Routing Strategy":"Route to Property name","string":"${field_type:equals('string')}","numeric":"${field_type:equals('numeric')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"string":{"name":"string","displayName":"string","identifiesControllerService":false,"sensitive":false},"numeric":{"name":"numeric","displayName":"numeric","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"b2596635-5fd8-3fe4-805f-3b6826a5bc4b","instanceIdentifier":"ad851490-3449-1af5-6fbf-89fa205202ad","name":"QueryRecord","comments":"","position":{"x":2624.0,"y":680.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"f04961df-6967-35f1-ac0c-fce82e4e35fa","record-reader":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","include-zero-record-flowfiles":"true","dbf-default-scale":"0","queryGenerated":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"queryGenerated":{"name":"queryGenerated","displayName":"queryGenerated","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"6be1fa13-ba07-350d-a266-a10a8d77d59b","instanceIdentifier":"ad851521-3449-1af5-f3c5-400d77dcc798","name":"SplitJson","comments":"","position":{"x":5632.0,"y":352.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"bc326c10-16ac-359e-ab89-c060865232a2","instanceIdentifier":"e37c998f-57c6-3ffd-1d6e-073ef4e6ca3a","name":"ReplaceEmptyString","comments":"","position":{"x":752.0,"y":1080.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Regular Expression":"''","Replacement Value":"NULL","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"ff04d5fd-24eb-386f-940b-96595167b183","instanceIdentifier":"ad851491-3449-1af5-59ef-7330d64181c6","name":"SplitJson","comments":"","position":{"x":2624.0,"y":464.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"fa304b61-4797-3989-bfce-69744c15f133","instanceIdentifier":"ad85145b-3449-1af5-5fac-488f66bda550","name":"QueryRecord","comments":"","position":{"x":752.0,"y":680.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"8010e068-7176-3c1f-9dcc-042e2e4c035d","record-reader":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","include-zero-record-flowfiles":"true","dbf-default-scale":"0","queryGenerated":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"queryGenerated":{"name":"queryGenerated","displayName":"queryGenerated","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"fb8b2419-784f-372d-befd-bd9fc811a3a5","instanceIdentifier":"ad8514d9-3449-1af5-0ac3-70f9808bde63","name":"QueryRecord","comments":"","position":{"x":4128.0,"y":2032.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"8bc16533-bd21-3028-97df-c84ce9245205","record-reader":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","include-zero-record-flowfiles":"true","dbf-default-scale":"0","queryGenerated":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"queryGenerated":{"name":"queryGenerated","displayName":"queryGenerated","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"554e0b81-4a81-3555-b729-1ac3778ed5aa","instanceIdentifier":"ad851478-3449-1af5-a907-9ea0974152b9","name":"Select data Gwynt-y-Mor","comments":"","position":{"x":1488.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_visual_crossing\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name like 'Gwynt-y-Mor%'\nAND source = 'obs'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"678af1cd-0805-3a14-b448-d9e1bb90ee2a","instanceIdentifier":"ad851514-3449-1af5-c21a-6383923a33d6","name":"Visibility","comments":"","position":{"x":5240.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT observation_date, observation_time, location_name\nFROM weather_data \nWHERE visibility_km is null\nAND original_source = 'Visual Crossing'\nAND location_name not like 'Gwynt-y-Mor%'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"fe9ace50-a857-3d20-b3d5-06a2f99ef13e","instanceIdentifier":"ad8514e9-3449-1af5-6477-4f87c99767ad","name":"QueryRecord","comments":"","position":{"x":4496.0,"y":2032.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"06eb5825-5409-3591-9969-4a4885ac9f2e","record-reader":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","include-zero-record-flowfiles":"true","dbf-default-scale":"0","queryGenerated":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"queryGenerated":{"name":"queryGenerated","displayName":"queryGenerated","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"d5dec8cf-a459-3ef2-a758-3382983f5b38","instanceIdentifier":"ad851524-3449-1af5-9e90-32a77558b545","name":"QueryRecord","comments":"","position":{"x":5632.0,"y":600.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"32bc1b5c-0018-38a8-b218-a6b23572de9d","record-reader":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","include-zero-record-flowfiles":"true","dbf-default-scale":"0","queryGenerated":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"queryGenerated":{"name":"queryGenerated","displayName":"queryGenerated","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"a14061b1-5a1f-3e65-960b-6a38af542b3b","instanceIdentifier":"ad851455-3449-1af5-cbc6-80bdf57fee1f","name":"Select data Lindhurst","comments":"","position":{"x":752.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_visual_crossing\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Lindhurst'\nAND source = 'obs'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"94786946-3313-37f7-bbd6-603133f3f65d","instanceIdentifier":"ad8514c2-3449-1af5-f584-15c731b53d46","name":"QueryRecord","comments":"","position":{"x":4320.0,"y":1128.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"0fdf73b5-8b2f-3192-9282-9672293a3890","record-reader":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","include-zero-record-flowfiles":"true","dbf-default-scale":"0","queryGenerated":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"queryGenerated":{"name":"queryGenerated","displayName":"queryGenerated","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"fc410471-b02c-38e4-a5e7-ff4889df0912","instanceIdentifier":"ad8514c8-3449-1af5-9933-758e93de4d98","name":"Wind speed","comments":"","position":{"x":4504.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT observation_date, observation_time, location_name\nFROM weather_data \nWHERE windspeed_m_s is null\nAND original_source = 'Visual Crossing'\nAND location_name not like 'Gwynt-y-Mor%'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"fa946ec8-9ee3-3349-a00b-2abdbb6ece81","instanceIdentifier":"ad8514bb-3449-1af5-b1a2-630a7e0cbff4","name":"UpdateAttribute","comments":"","position":{"x":3400.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"field_type":"string","field_name":"snow"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"field_type":{"name":"field_type","displayName":"field_type","identifiesControllerService":false,"sensitive":false},"field_name":{"name":"field_name","displayName":"field_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"b21f19f2-dd5e-3c98-a6cf-8482c0abd06a","instanceIdentifier":"2b581fe4-ca3f-3c9c-c091-0d72681625cf","name":"ReplaceNull","comments":"","position":{"x":752.0,"y":880.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Regular Expression":"'NULL'","Replacement Value":"NULL","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"f3914789-a633-3f00-bcc8-3c7c4dc7e58f","instanceIdentifier":"ad851508-3449-1af5-8def-7bd3a31d6852","name":"Temperature","comments":"","position":{"x":4136.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT observation_date, observation_time, location_name\nFROM weather_data \nWHERE temperature_c is null\nAND original_source = 'Visual Crossing'\nAND location_name not like 'Gwynt-y-Mor%'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"84dea702-e05e-390b-865f-5ec27a389dfa","instanceIdentifier":"ad85148e-3449-1af5-f051-fe3c60dd6011","name":"Select data Lindhurst","comments":"","position":{"x":2624.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_meteostat\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Lindhurst'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"8c19db07-355a-30d1-b2ce-e407e3f5c23f","instanceIdentifier":"ad8514d6-3449-1af5-07ca-0ea10f12d6a2","name":"ReplaceNull","comments":"","position":{"x":4320.0,"y":2232.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Regular Expression":"'NULL'","Replacement Value":"NULL","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"b7572524-54b5-32c1-80c3-59d5e42b87e6","instanceIdentifier":"ad851472-3449-1af5-9294-9275ff453f67","name":"Select data Barzowice","comments":"","position":{"x":384.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM weather_data_visual_crossing\nWHERE observation_date > '2021-12-31'\nAND observation_date < '2023-01-01'\nAND location_name = 'Barzowice'\nAND source = 'obs'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"85b793e8-b919-3e32-b928-d4fc5c57a673","instanceIdentifier":"ad8514f0-3449-1af5-1620-ebaa63b7d7c9","name":"Ice","comments":"","position":{"x":3768.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d979b275-ece0-345d-9af7-613e9e14a0c9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT observation_date, observation_time, location_name\nFROM weather_data \nWHERE ice is null\nAND original_source = 'Visual Crossing'\nAND location_name not like 'Gwynt-y-Mor%'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"f06015b4-e994-3879-a65b-f3ee5f5c0d1f","instanceIdentifier":"ad8514fa-3449-1af5-56aa-2bc157198300","name":"Ignore emtpy flowfiles","comments":"","position":{"x":4320.0,"y":696.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must match exactly","Character Set":"UTF-8","empty":"\\{\\}"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"empty":{"name":"empty","displayName":"empty","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["empty"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"bdeffcd1-c22c-3a40-b135-4530bd1f13d9","instanceIdentifier":"ad851496-3449-1af5-166b-17313f8d17f6","name":"ReplaceEmptyString","comments":"","position":{"x":2624.0,"y":1080.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Regular Expression":"''","Replacement Value":"NULL","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"2f1f6bfd-b47b-3410-a365-b0d08b59bce6","instanceIdentifier":"ad851536-3449-1af5-9a2a-553cf715e58e","name":"Set lightning to false","comments":"","position":{"x":6024.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2def6282-2330-3912-b79c-7d661cfd2469","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"UPDATE weather_data\nSET lightning = 'False'\nWHERE lightning is null","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"724ab423-6d38-334f-b1da-5f61d44a3bcc","instanceIdentifier":"ad8514cb-3449-1af5-a251-095e8f1a873e","name":"","source":{"id":"fc410471-b02c-38e4-a5e7-ff4889df0912","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Wind speed","comments":"","instanceIdentifier":"ad8514c8-3449-1af5-9933-758e93de4d98"},"destination":{"id":"a2e8ed6d-2214-3631-8ee1-f1f386e906e1","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad8514ca-3449-1af5-81ec-05c984ba233f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"7e10c797-3b43-3db4-94c7-5436b2fc2f8d","instanceIdentifier":"ad851499-3449-1af5-a303-3ea924127ace","name":"","source":{"id":"1bdb7c46-5ec8-3d2a-93ff-9c640788ef07","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad85148f-3449-1af5-b6e0-b06c3764385a"},"destination":{"id":"ff04d5fd-24eb-386f-940b-96595167b183","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad851491-3449-1af5-59ef-7330d64181c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"82c3bfeb-7afd-3509-80e5-f9b595028b57","instanceIdentifier":"ad85147c-3449-1af5-ed68-5418e0238ba3","name":"","source":{"id":"554e0b81-4a81-3555-b729-1ac3778ed5aa","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Gwynt-y-Mor","comments":"","instanceIdentifier":"ad851478-3449-1af5-a907-9ea0974152b9"},"destination":{"id":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1664.0,"y":152.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"43206449-8e3d-349c-a5b8-9cf1888a5c88","instanceIdentifier":"ad85149b-3449-1af5-ad59-8f56dad2490e","name":"","source":{"id":"b2596635-5fd8-3fe4-805f-3b6826a5bc4b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad851490-3449-1af5-6fbf-89fa205202ad"},"destination":{"id":"b2384aab-54b6-3cfe-b9ca-7ab02e1c82ea","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"ad85148c-3449-1af5-a139-9f094cba1419"},"labelIndex":1,"zIndex":0,"selectedRelationships":["queryGenerated"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"6c09c479-0130-3132-bd2a-d9812d72c4eb","instanceIdentifier":"ad85149c-3449-1af5-ae58-955aa3b4ae97","name":"","source":{"id":"c5c86edd-2614-3ae1-a38a-9a74e8bd3001","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad85148b-3449-1af5-8b88-ceb673366207"},"destination":{"id":"1bdb7c46-5ec8-3d2a-93ff-9c640788ef07","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad85148f-3449-1af5-b6e0-b06c3764385a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2799.1011962890625,"y":202.9488925933838}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"22618015-aa2c-394e-a2f3-5456a31ce543","instanceIdentifier":"ad851498-3449-1af5-22f1-ce6550db6a11","name":"","source":{"id":"84dea702-e05e-390b-865f-5ec27a389dfa","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Lindhurst","comments":"","instanceIdentifier":"ad85148e-3449-1af5-f051-fe3c60dd6011"},"destination":{"id":"c5c86edd-2614-3ae1-a38a-9a74e8bd3001","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad85148b-3449-1af5-8b88-ceb673366207"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"5613fcb0-7d0e-3b8f-a12f-4ac245013f25","instanceIdentifier":"ad85147b-3449-1af5-941e-35a39b1dd36c","name":"","source":{"id":"f4aa962f-e629-3f41-9982-3c8ffa7c3dd6","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Nordsee Ost","comments":"","instanceIdentifier":"ad851470-3449-1af5-e6b4-a4e131e85e30"},"destination":{"id":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1296.0,"y":88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"38a5122c-0685-3f24-b50e-8da174f3f1bd","instanceIdentifier":"ad85145e-3449-1af5-8777-a679dc8fcef6","name":"","source":{"id":"3ae97438-2d7a-3244-9476-9ebaac245f92","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad85145d-3449-1af5-9b2f-8930a75f88a4"},"destination":{"id":"fa304b61-4797-3989-bfce-69744c15f133","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad85145b-3449-1af5-5fac-488f66bda550"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"db5c76dc-3f3c-3348-a9c0-4ebda86d7c39","instanceIdentifier":"ad85151f-3449-1af5-7f81-deb831086b60","name":"","source":{"id":"b4375933-a9c5-30b5-b2a7-536e8231b833","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ExecuteSQL","comments":"","instanceIdentifier":"ad85151c-3449-1af5-14c9-493b27a1659f"},"destination":{"id":"ca5e4978-3258-30d0-bcf5-7ca9a86a4307","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad85151e-3449-1af5-2ece-8e3d15054d87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"67c9e5bb-7a21-3e71-98ef-5d96a1a6bd69","instanceIdentifier":"ad85145c-3449-1af5-d1d1-547426d0a997","name":"","source":{"id":"b520ff2f-c30c-35bf-b352-cd78b8ebe969","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad851457-3449-1af5-ffc6-d03861fe93e7"},"destination":{"id":"3ae97438-2d7a-3244-9476-9ebaac245f92","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad85145d-3449-1af5-9b2f-8930a75f88a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"501fbc40-cd88-32af-8e12-7a113b297750","instanceIdentifier":"ad8514f7-3449-1af5-e5ee-39d906985e50","name":"","source":{"id":"db1969f3-07a3-378a-8ac5-be1255a3af33","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad8514f1-3449-1af5-db2e-1c12acc58586"},"destination":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3944.0,"y":336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"1cfe491f-75d7-38cb-9b29-bc66abeeb10d","instanceIdentifier":"ad8514eb-3449-1af5-1a0a-3fe86d9af17f","name":"","source":{"id":"09db635b-fb89-31b8-9889-e6ec91da6214","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ad8514e7-3449-1af5-ccf3-3d5343754245"},"destination":{"id":"fb8b2419-784f-372d-befd-bd9fc811a3a5","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad8514d9-3449-1af5-0ac3-70f9808bde63"},"labelIndex":0,"zIndex":0,"selectedRelationships":["numeric"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4305.03369140625,"y":1994.5475463867188}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"542d244d-7a41-35a7-bad3-b9063a1ca4e6","instanceIdentifier":"ad851511-3449-1af5-edca-d2335938606f","name":"","source":{"id":"d8e23a70-efc2-36f0-915d-ae688f271f88","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Wind gusts","comments":"","instanceIdentifier":"ad85150e-3449-1af5-220d-0a23ef7174b8"},"destination":{"id":"66e15bde-a854-3bb9-8e24-94651c11b57f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad851510-3449-1af5-8105-4d3be831af97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"40be4a0b-be02-358d-ae7f-805ef452d3f5","instanceIdentifier":"ad8514ec-3449-1af5-98e9-5f28ad85f435","name":"","source":{"id":"09db635b-fb89-31b8-9889-e6ec91da6214","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ad8514e7-3449-1af5-ccf3-3d5343754245"},"destination":{"id":"fe9ace50-a857-3d20-b3d5-06a2f99ef13e","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad8514e9-3449-1af5-6477-4f87c99767ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["string"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4673.03369140625,"y":1994.5475463867188}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"6db28325-e950-32dc-9f2f-d9e8600456e6","instanceIdentifier":"ad8514bf-3449-1af5-8753-331a6defcd21","name":"","source":{"id":"fa946ec8-9ee3-3349-a00b-2abdbb6ece81","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad8514bb-3449-1af5-b1a2-630a7e0cbff4"},"destination":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3576.0,"y":368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"8f55e2d1-423d-3665-b3ed-46912d184db8","instanceIdentifier":"ad85150c-3449-1af5-8d99-f95587bdbbbb","name":"","source":{"id":"239fabe4-bacb-3c15-9531-5b1260b40c3c","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad85150a-3449-1af5-e2cb-b50e5777cd1d"},"destination":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4312.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"160f9305-c44c-387a-b009-651b46d29126","instanceIdentifier":"ad8514ce-3449-1af5-6915-4cfc4d445478","name":"","source":{"id":"94786946-3313-37f7-bbd6-603133f3f65d","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad8514c2-3449-1af5-f584-15c731b53d46"},"destination":{"id":"9a8b2347-b046-3434-b203-0a4cec73efa0","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ExecuteSQL","comments":"","instanceIdentifier":"ad8514d0-3449-1af5-238f-aadf59b3a38b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["queryGenerated"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"7fd0348a-f218-38a7-8c37-c69b6fe157cf","instanceIdentifier":"ad851458-3449-1af5-1f52-2102855ec028","name":"","source":{"id":"a14061b1-5a1f-3e65-960b-6a38af542b3b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Lindhurst","comments":"","instanceIdentifier":"ad851455-3449-1af5-cbc6-80bdf57fee1f"},"destination":{"id":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"aad874a5-fc9e-3ac3-bc98-c46df8a0cdfb","instanceIdentifier":"ad8514df-3449-1af5-1e1b-3846834570b7","name":"","source":{"id":"fb8b2419-784f-372d-befd-bd9fc811a3a5","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad8514d9-3449-1af5-0ac3-70f9808bde63"},"destination":{"id":"8c19db07-355a-30d1-b2ce-e407e3f5c23f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"ad8514d6-3449-1af5-07ca-0ea10f12d6a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["queryGenerated"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4305.03369140625,"y":2194.5475463867188}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"d550530f-909c-3e7f-a9f8-1f74c030cf6a","instanceIdentifier":"ad851517-3449-1af5-f955-ce301e13a90f","name":"","source":{"id":"678af1cd-0805-3a14-b448-d9e1bb90ee2a","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Visibility","comments":"","instanceIdentifier":"ad851514-3449-1af5-c21a-6383923a33d6"},"destination":{"id":"0619f26b-e6e3-3881-aba1-fc5ba743fe90","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad851516-3449-1af5-b794-33872973c247"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"2b9e9f23-3762-3785-8c2f-2f09a991d3f9","instanceIdentifier":"ad851518-3449-1af5-2f20-8eab29e251d1","name":"","source":{"id":"0619f26b-e6e3-3881-aba1-fc5ba743fe90","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad851516-3449-1af5-b794-33872973c247"},"destination":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":5416.0,"y":376.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"609c4943-bae9-3a32-a660-05a95075ae58","instanceIdentifier":"ad85147a-3449-1af5-b39f-eb1447394ec0","name":"","source":{"id":"b7572524-54b5-32c1-80c3-59d5e42b87e6","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Barzowice","comments":"","instanceIdentifier":"ad851472-3449-1af5-9294-9275ff453f67"},"destination":{"id":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":560.0,"y":88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"d1d5a68f-0da0-3add-81f0-1143a220452c","instanceIdentifier":"ad8514bc-3449-1af5-40a3-a3467a0dc868","name":"","source":{"id":"42eceb12-6c9b-345f-847b-45381ef2691c","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Snow","comments":"","instanceIdentifier":"ad8514a6-3449-1af5-494f-401e8a45b062"},"destination":{"id":"fa946ec8-9ee3-3349-a00b-2abdbb6ece81","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad8514bb-3449-1af5-b1a2-630a7e0cbff4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"4230b92b-d405-337f-8bea-200ea114dce7","instanceIdentifier":"cf2be76f-a5cb-3268-986b-9a2119a9ca33","name":"","source":{"id":"b21f19f2-dd5e-3c98-a6cf-8482c0abd06a","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"2b581fe4-ca3f-3c9c-c091-0d72681625cf"},"destination":{"id":"bc326c10-16ac-359e-ab89-c060865232a2","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceEmptyString","comments":"","instanceIdentifier":"e37c998f-57c6-3ffd-1d6e-073ef4e6ca3a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"a32a5579-f5fa-3986-8e2f-8c3809a3178a","instanceIdentifier":"ad851502-3449-1af5-1f30-a8450516cde4","name":"","source":{"id":"f06015b4-e994-3879-a65b-f3ee5f5c0d1f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Ignore emtpy flowfiles","comments":"","instanceIdentifier":"ad8514fa-3449-1af5-56aa-2bc157198300"},"destination":{"id":"400e523b-15a1-3e11-9768-dd41f28ba9e2","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad8514af-3449-1af5-2155-62cb3549a829"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"17b2753b-c9c5-38b4-8446-56ef5f6506f0","instanceIdentifier":"ad851522-3449-1af5-2097-dfd31789161a","name":"","source":{"id":"ca5e4978-3258-30d0-bcf5-7ca9a86a4307","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad85151e-3449-1af5-2ece-8e3d15054d87"},"destination":{"id":"6be1fa13-ba07-350d-a266-a10a8d77d59b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad851521-3449-1af5-f3c5-400d77dcc798"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"7f283162-6729-3765-abeb-6aec0dd38c4d","instanceIdentifier":"ad85149d-3449-1af5-1d07-31e68470cf3f","name":"","source":{"id":"9e61729d-2785-338f-bc2d-b9ac43fc131c","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Putlitz","comments":"","instanceIdentifier":"ad851494-3449-1af5-2d99-7c3f0fa238bc"},"destination":{"id":"c5c86edd-2614-3ae1-a38a-9a74e8bd3001","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad85148b-3449-1af5-8b88-ceb673366207"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2063.1011962890625,"y":154.9488925933838}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"8d16e4ca-38c2-3888-973f-edc6d17b03dc","instanceIdentifier":"ad85149a-3449-1af5-ecde-4e24d9657c93","name":"","source":{"id":"ff04d5fd-24eb-386f-940b-96595167b183","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad851491-3449-1af5-59ef-7330d64181c6"},"destination":{"id":"b2596635-5fd8-3fe4-805f-3b6826a5bc4b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad851490-3449-1af5-6fbf-89fa205202ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"032f420f-1505-392b-8291-2129ad1dccae","instanceIdentifier":"ad85150b-3449-1af5-2fbb-f61da5d1adce","name":"","source":{"id":"f3914789-a633-3f00-bcc8-3c7c4dc7e58f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Temperature","comments":"","instanceIdentifier":"ad851508-3449-1af5-8def-7bd3a31d6852"},"destination":{"id":"239fabe4-bacb-3c15-9531-5b1260b40c3c","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad85150a-3449-1af5-e2cb-b50e5777cd1d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"fd8f772c-a62b-309f-8a19-79a0084b71af","instanceIdentifier":"ad851497-3449-1af5-9c9c-d326968e5a2e","name":"","source":{"id":"bdeffcd1-c22c-3a40-b135-4530bd1f13d9","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceEmptyString","comments":"","instanceIdentifier":"ad851496-3449-1af5-166b-17313f8d17f6"},"destination":{"id":"1afee547-16cd-3635-8a12-009a57970cf2","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"PutSQL","comments":"","instanceIdentifier":"ad85148d-3449-1af5-5689-982ca394a216"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"212dce74-c519-38af-a2dd-08f8b5f1d9f0","instanceIdentifier":"0ad0848c-9b3a-38e6-f303-c7da19926866","name":"","source":{"id":"bc326c10-16ac-359e-ab89-c060865232a2","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceEmptyString","comments":"","instanceIdentifier":"e37c998f-57c6-3ffd-1d6e-073ef4e6ca3a"},"destination":{"id":"5d5ce8bb-15f1-3087-9f67-d93da0bffcc2","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"PutSQL","comments":"","instanceIdentifier":"3a662065-885a-3590-9675-f42a1c758f75"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"ea44c906-3987-3b1e-9d98-ae376ba445b5","instanceIdentifier":"ad8514dd-3449-1af5-fbc5-f76a518b1fb7","name":"","source":{"id":"60a9a5ef-b5f9-395c-b689-e01ab3805cc1","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad8514d8-3449-1af5-be9f-29474a2a3dc2"},"destination":{"id":"09db635b-fb89-31b8-9889-e6ec91da6214","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ad8514e7-3449-1af5-ccf3-3d5343754245"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"9604fe07-8b01-3d1d-b3ce-13c966c6293a","instanceIdentifier":"ad8514e0-3449-1af5-4aee-0035efe46c23","name":"","source":{"id":"8c19db07-355a-30d1-b2ce-e407e3f5c23f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"ad8514d6-3449-1af5-07ca-0ea10f12d6a2"},"destination":{"id":"9c0b9a72-e2db-3cd3-a1cc-7b2a3fec49b4","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceEmptyString","comments":"","instanceIdentifier":"ad8514db-3449-1af5-1d8f-fff8ea67bf7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"22a85cfb-8199-3935-a62b-47d35504025c","instanceIdentifier":"ad851479-3449-1af5-7066-a3fb542b32b5","name":"","source":{"id":"56c077c2-6b1d-3268-940f-77a72c03ca0f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Putlitz","comments":"","instanceIdentifier":"ad851476-3449-1af5-8030-108dcd4e3d74"},"destination":{"id":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":160.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"7e01de36-0fff-3196-b053-8e2afe433a07","instanceIdentifier":"ad851525-3449-1af5-e40e-5f18da561ef3","name":"","source":{"id":"6be1fa13-ba07-350d-a266-a10a8d77d59b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad851521-3449-1af5-f3c5-400d77dcc798"},"destination":{"id":"d5dec8cf-a459-3ef2-a758-3382983f5b38","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad851524-3449-1af5-9e90-32a77558b545"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"ef076760-a24b-32a6-80b7-f3aa15074ce5","instanceIdentifier":"ad851474-3449-1af5-fb35-496757ccef54","name":"","source":{"id":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675"},"destination":{"id":"b520ff2f-c30c-35bf-b352-cd78b8ebe969","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad851457-3449-1af5-ffc6-d03861fe93e7"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":928.0,"y":208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"973c001d-a739-3bf3-8585-1d710efe83ea","instanceIdentifier":"ad85152e-3449-1af5-db79-a5fe6c37c120","name":"","source":{"id":"d5dec8cf-a459-3ef2-a758-3382983f5b38","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad851524-3449-1af5-9e90-32a77558b545"},"destination":{"id":"44046a66-8ace-38b6-8f5c-63d4e4c4e77b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"PutSQL","comments":"","instanceIdentifier":"ad85152a-3449-1af5-3bb4-4bc24cc57e1d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["queryGenerated"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"55768aac-1354-3a49-9ad3-ea498a7d08a5","instanceIdentifier":"ad8514be-3449-1af5-83d4-010c8e1bc8a8","name":"","source":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"destination":{"id":"6caac324-3a6a-3a51-8a21-5b0b46ca4bb3","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad8514ad-3449-1af5-8112-a034c7bd1089"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4493.80859375,"y":427.9093017578125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"4f8c1b0c-ba33-33ce-a27f-791c3873a1f0","instanceIdentifier":"ad8514a1-3449-1af5-d871-9f0e279c5b0f","name":"","source":{"id":"b2384aab-54b6-3cfe-b9ca-7ab02e1c82ea","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"ad85148c-3449-1af5-a139-9f094cba1419"},"destination":{"id":"bdeffcd1-c22c-3a40-b135-4530bd1f13d9","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceEmptyString","comments":"","instanceIdentifier":"ad851496-3449-1af5-166b-17313f8d17f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"0e9fd144-d550-3773-8ae5-6575006c4fbc","instanceIdentifier":"ad85146b-3449-1af5-8ed2-cc235a88fb05","name":"","source":{"id":"fa304b61-4797-3989-bfce-69744c15f133","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad85145b-3449-1af5-5fac-488f66bda550"},"destination":{"id":"b21f19f2-dd5e-3c98-a6cf-8482c0abd06a","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"2b581fe4-ca3f-3c9c-c091-0d72681625cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["queryGenerated"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"ebf86184-baed-325a-9386-0304206c096e","instanceIdentifier":"ad8514b4-3449-1af5-7c2e-a7c8a9432461","name":"","source":{"id":"400e523b-15a1-3e11-9768-dd41f28ba9e2","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"SplitJson","comments":"","instanceIdentifier":"ad8514af-3449-1af5-2155-62cb3549a829"},"destination":{"id":"94786946-3313-37f7-bbd6-603133f3f65d","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad8514c2-3449-1af5-f584-15c731b53d46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"084f7ba8-233d-3d87-a064-d7610f8037ff","instanceIdentifier":"ad8514dc-3449-1af5-67f6-fe11daf207f9","name":"","source":{"id":"9c0b9a72-e2db-3cd3-a1cc-7b2a3fec49b4","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceEmptyString","comments":"","instanceIdentifier":"ad8514db-3449-1af5-1d8f-fff8ea67bf7b"},"destination":{"id":"23653b3e-29d7-32c3-8d67-74d3db0d012b","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"PutSQL","comments":"","instanceIdentifier":"ad8514d7-3449-1af5-188c-bf3e9e8cfd74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"99bd7036-db8b-38b1-bbeb-6264093acce9","instanceIdentifier":"ad851512-3449-1af5-af1a-e6f93b9975cf","name":"","source":{"id":"66e15bde-a854-3bb9-8e24-94651c11b57f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad851510-3449-1af5-8105-4d3be831af97"},"destination":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":5048.0,"y":336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"31f378d8-b55b-3ad2-8df5-1b09db22b21f","instanceIdentifier":"ad8514d2-3449-1af5-5d62-68d0960b675c","name":"","source":{"id":"9a8b2347-b046-3434-b203-0a4cec73efa0","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ExecuteSQL","comments":"","instanceIdentifier":"ad8514d0-3449-1af5-238f-aadf59b3a38b"},"destination":{"id":"60a9a5ef-b5f9-395c-b689-e01ab3805cc1","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad8514d8-3449-1af5-be9f-29474a2a3dc2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"ba822851-4054-3f41-9fb1-ad46ff863e1b","instanceIdentifier":"ad8514cc-3449-1af5-08b1-5a04741fbaa5","name":"","source":{"id":"a2e8ed6d-2214-3631-8ee1-f1f386e906e1","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad8514ca-3449-1af5-81ec-05c984ba233f"},"destination":{"id":"19448be8-8be7-3b74-9faa-32eaa7b26b95","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4680.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"d35c3b9e-59cf-3a27-b65b-ffb0b884dea8","instanceIdentifier":"ad851501-3449-1af5-1b01-5e5690cccbf6","name":"","source":{"id":"6caac324-3a6a-3a51-8a21-5b0b46ca4bb3","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"ad8514ad-3449-1af5-8112-a034c7bd1089"},"destination":{"id":"f06015b4-e994-3879-a65b-f3ee5f5c0d1f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Ignore emtpy flowfiles","comments":"","instanceIdentifier":"ad8514fa-3449-1af5-56aa-2bc157198300"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"8156db2a-6d6e-3878-b169-813eadb372b5","instanceIdentifier":"ad8514ea-3449-1af5-23d7-8fdd73254a9e","name":"","source":{"id":"fe9ace50-a857-3d20-b3d5-06a2f99ef13e","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"QueryRecord","comments":"","instanceIdentifier":"ad8514e9-3449-1af5-6477-4f87c99767ad"},"destination":{"id":"8c19db07-355a-30d1-b2ce-e407e3f5c23f","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"ReplaceNull","comments":"","instanceIdentifier":"ad8514d6-3449-1af5-07ca-0ea10f12d6a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["queryGenerated"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":4673.03369140625,"y":2194.5475463867188}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"3314b170-b72b-3668-ac0c-b867de0a3640","instanceIdentifier":"ad85149e-3449-1af5-98b8-e67a9acc8207","name":"","source":{"id":"4697fb57-08d9-3852-9f73-fb5178f13225","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Barzowice","comments":"","instanceIdentifier":"ad851493-3449-1af5-234f-d15a58b6306b"},"destination":{"id":"c5c86edd-2614-3ae1-a38a-9a74e8bd3001","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad85148b-3449-1af5-8b88-ceb673366207"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2431.1011962890625,"y":82.94889259338379}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"c94807dc-84b9-3ecf-9412-202087b2c855","instanceIdentifier":"ad8514f2-3449-1af5-a1fa-10cf619c6b71","name":"","source":{"id":"85b793e8-b919-3e32-b928-d4fc5c57a673","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Ice","comments":"","instanceIdentifier":"ad8514f0-3449-1af5-1620-ebaa63b7d7c9"},"destination":{"id":"db1969f3-07a3-378a-8ac5-be1255a3af33","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"UpdateAttribute","comments":"","instanceIdentifier":"ad8514f1-3449-1af5-db2e-1c12acc58586"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"80f932dd-7ff6-337e-a8b9-6aeb479b2f6a","instanceIdentifier":"ad85149f-3449-1af5-45e0-f89ccbd4d181","name":"","source":{"id":"1c356a1a-ef20-3dc7-9716-c8876a3a7261","type":"PROCESSOR","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Select data Nordsee Ost","comments":"","instanceIdentifier":"ad851492-3449-1af5-255b-161ad4ffd994"},"destination":{"id":"c5c86edd-2614-3ae1-a38a-9a74e8bd3001","type":"FUNNEL","groupId":"e6a36f2c-28f2-348b-91a6-06f8e6035e77","name":"Funnel","comments":"","instanceIdentifier":"ad85148b-3449-1af5-8b88-ceb673366207"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3168.0,"y":160.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"}],"labels":[{"identifier":"df0c662d-7637-3991-af14-9a0d1da27286","instanceIdentifier":"ad8514aa-3449-1af5-f86f-d2bfb1f060da","position":{"x":4304.0,"y":456.0},"label":"Get data from Meteostat","zIndex":0,"width":384.0,"height":1040.0,"style":{"background-color":"#6071d4","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"6cc57ebd-88f5-31d5-9560-444b382025d8","instanceIdentifier":"ad851538-3449-1af5-e63d-cb75bd454f58","position":{"x":5616.0,"y":-120.0},"label":"Merge Siemens lightning data","zIndex":0,"width":384.0,"height":1072.0,"style":{"background-color":"#eff5cc","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"6b52af4f-d69f-3291-93fc-030c2f7d60f0","instanceIdentifier":"ad85152f-3449-1af5-64ff-6a76e0f8ff93","position":{"x":6008.0,"y":-240.0},"label":"Note: All observed lightning strikes are in the \nsiemens observation table\n--> set lightning to false wherever it is not true after \nthe lightning data import","zIndex":0,"width":384.0,"height":112.0,"style":{"background-color":"#f27b79","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"063d6863-0cf1-38a2-a965-8f1e6f7ec4e9","instanceIdentifier":"ad85148a-3449-1af5-141e-c13f4653c416","position":{"x":2608.0,"y":224.0},"label":"Transform & Insert Data","zIndex":0,"width":384.0,"height":1208.0,"style":{"background-color":"#f2b968","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"24c8fbf7-65af-3a23-8fc6-72b565546a66","instanceIdentifier":"ad851489-3449-1af5-c168-3fde9d68e213","position":{"x":1872.0,"y":-120.0},"label":"Meteostat - insert complete record if visual crossing record is missing (no data for Gwynt-y-Mor --> ignore location)","zIndex":0,"width":1488.0,"height":176.0,"style":{"background-color":"#6071d4","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"17660a9e-8093-3895-a1b9-79fdf668245e","instanceIdentifier":"ad85153a-3449-1af5-c7d5-7d82685570de","position":{"x":6008.0,"y":-120.0},"label":"Merge Siemens lightning data","zIndex":0,"width":384.0,"height":184.0,"style":{"background-color":"#eff5cc","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"dea88980-30c1-30ab-9730-4047ffffbf83","instanceIdentifier":"ad85147e-3449-1af5-8bea-cf9b69795cec","position":{"x":736.0,"y":224.0},"label":"Transform & Insert Data","zIndex":0,"width":384.0,"height":1208.0,"style":{"background-color":"#f2b968","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"cfc83806-cb20-38ca-8216-524675b2d865","instanceIdentifier":"ad851456-3449-1af5-601c-2bf73faae143","position":{"x":0.0,"y":-120.0},"label":"Visual Crossing data","zIndex":0,"width":1856.0,"height":176.0,"style":{"background-color":"#c3cff7","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"c0b0e04d-0017-317d-828a-57dcfc1f76ab","instanceIdentifier":"ad8514a8-3449-1af5-3fbf-6aeafc1dc12f","position":{"x":3384.0,"y":-120.0},"label":"Get missing Visual Crossing field values from Meteostat --> select records with missing field values from weather_data","zIndex":0,"width":2224.0,"height":384.0,"style":{"background-color":"#b8edb6","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"51587f08-eb19-3c84-b530-d2ebb32fb460","instanceIdentifier":"ad8514d5-3449-1af5-2370-9a462acb7bdd","position":{"x":4112.0,"y":1592.0},"label":"Insert into weather_data","zIndex":0,"width":752.0,"height":1192.0,"style":{"background-color":"#f2b968","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"4472014c-2ae4-316b-be40-fa4dd3c27e26","instanceIdentifier":"ad85151a-3449-1af5-7d85-f133eeb77e00","position":{"x":5616.0,"y":-240.0},"label":"Note: Merge the offshore location data before \nimporting lightning data (lightning data will be \nupdated for the merged locations)\n--> process group \"Offshore Data Merge\" on the \nmain screen","zIndex":0,"width":384.0,"height":112.0,"style":{"background-color":"#f27b79","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"}],"funnels":[{"identifier":"19448be8-8be7-3b74-9faa-32eaa7b26b95","instanceIdentifier":"ad8514bd-3449-1af5-5fe9-fc65899f283a","position":{"x":4472.0,"y":352.0},"componentType":"FUNNEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"4576cfa3-682a-308a-8fe0-f0a5b9c2aa15","instanceIdentifier":"ad851473-3449-1af5-1079-be391a015675","position":{"x":904.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"c5c86edd-2614-3ae1-a38a-9a74e8bd3001","instanceIdentifier":"ad85148b-3449-1af5-8b88-ceb673366207","position":{"x":2776.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"}],"controllerServices":[{"identifier":"0fdf73b5-8b2f-3192-9282-9672293a3890","instanceIdentifier":"ad8514c4-3449-1af5-c98a-db63246b8bd7","name":"ObservationMergeQueryWriterSingleParameterMeteostat","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"Text":"SELECT observation_date, observation_time, location_name, ${field_name}\nFROM weather_data_meteostat\nWHERE observation_date = '${observation_date}'\nAND observation_time = '${observation_time}'\nAND location_name = '${location_name}'","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"f862dee4-6f9b-30a1-be60-c79dafcfa5f5","instanceIdentifier":"66274978-ed3e-350d-fa2e-9e6507137318","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ad851454-3449-1af5-6786-682e37229974"},{"identifier":"06eb5825-5409-3591-9969-4a4885ac9f2e","instanceIdentifier":"ad8514e6-3449-1af5-9671-fc1c0d07f6b4","name":"ObservationMergeQueryWriterSingleFieldString","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"Text":"UPDATE weather_data \nSET ${field_name} = '${${field_name}:replaceNull('NULL')}'\nWHERE observation_date = '${observation_date}'\nAND observation_time = '${observation_time}' \nAND location_name = '${location_name}'","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"d979b275-ece0-345d-9af7-613e9e14a0c9","instanceIdentifier":"bcdf15f2-1018-1184-0636-63afe1bb5585","name":"MasterThesisDataDB","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.18.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://172.17.0.1:5432/MasterThesisData","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"file:///opt/nifi/nifi-current/Drivers/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ad851454-3449-1af5-6786-682e37229974"},{"identifier":"2def6282-2330-3912-b79c-7d661cfd2469","instanceIdentifier":"1d80a992-ec1f-3433-4030-2f4a9b04ac14","name":"MasterThesisDataDB","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.18.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://172.17.0.1:5432/MasterThesisData","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"file:///opt/nifi/nifi-current/Drivers/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"32bc1b5c-0018-38a8-b218-a6b23572de9d","instanceIdentifier":"ad851527-3449-1af5-1bf3-696acf8c3ebe","name":"LightningObservationMergeQueryWriter","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"Text":"UPDATE weather_data \nSET lightning = 'True'\nWHERE observation_date = '${observation_date}'\nAND extract(hour from observation_time) = extract(hour from '${observation_time}'::time)\nAND location_name = '${location_name}'","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"8010e068-7176-3c1f-9dcc-042e2e4c035d","instanceIdentifier":"ad85145f-3449-1af5-bf06-db024b6d4f2a","name":"ObservationMergeQueryWriterVisualCrossing","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"Text":"INSERT INTO weather_data (\n\tobservation_date, \n\tobservation_time, \n\tlocation_name, \n\ttechnology, \n\tlongitude, \n\tlatitude, \n\tsnow,\n\tice,\n\ttemperature_c, \n\twindspeed_m_s, \n\twindgusts_m_s, \n\tvisibility_km, \n\toriginal_source)\nVALUES (\n\t'${observation_date}'\n\t,'${observation_time}' \n\t,'${location_name}'\n\t,'${technology}'\n\t,${longitude:replaceNull('NULL')}\n\t,${latitude:replaceNull('NULL')} \n\t,'${snow:replaceNull('NULL')}'\n\t,'${ice:replaceNull('NULL')}'  \n\t,${temperature_c:replaceNull('NULL')}\n\t,${windspeed_m_s:replaceNull('NULL')}\n\t,${windgusts_m_s:replaceNull('NULL')} \n\t,${visibility_km:replaceNull('NULL')} \n\t,'Visual Crossing'\t\n)\nON CONFLICT ON CONSTRAINT unique_timestamp_and_location DO UPDATE\nSET snow = '${snow:replaceNull('NULL')}', \n\tice = '${ice:replaceNull('NULL')}', \n\ttemperature_c = ${temperature_c:replaceNull('NULL')}, \n\twindspeed_m_s = ${windspeed_m_s:replaceNull('NULL')}, \n\twindgusts_m_s = ${windgusts_m_s:replaceNull('NULL')}, \n\tvisibility_km = ${visibility_km:replaceNull('NULL')}, \n\toriginal_source = 'Visual Crossing'","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"8bc16533-bd21-3028-97df-c84ce9245205","instanceIdentifier":"ad8514e2-3449-1af5-b78c-2160a32531ca","name":"ObservationMergeQueryWriterSingleFieldNumeric","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"Text":"UPDATE weather_data \nSET ${field_name} = ${${field_name}:replaceNull('NULL')}\nWHERE observation_date = '${observation_date}'\nAND observation_time = '${observation_time}' \nAND location_name = '${location_name}'","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"},{"identifier":"f04961df-6967-35f1-ac0c-fce82e4e35fa","instanceIdentifier":"ad8514a4-3449-1af5-c8d0-59bdf8f23231","name":"ObservationMergeQueryWriterMeteostat","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"Text":"INSERT INTO weather_data (\n\tobservation_date, \n\tobservation_time, \n\tlocation_name, \n\ttechnology, \n\tlongitude, \n\tlatitude, \n\tsnow,\n\tice,\n\ttemperature_c, \n\twindspeed_m_s, \n\twindgusts_m_s, \n\tvisibility_km, \n\toriginal_source)\nVALUES (\n\t'${observation_date}'\n\t,'${observation_time}' \n\t,'${location_name}'\n\t,'${technology}'\n\t,${longitude:replaceNull('NULL')}\n\t,${latitude:replaceNull('NULL')} \n\t,'${snow:replaceNull('NULL')}'\n\t,'${ice:replaceNull('NULL')}'  \n\t,${temperature_c:replaceNull('NULL')}\n\t,${windspeed_m_s:replaceNull('NULL')}\n\t,${windgusts_m_s:replaceNull('NULL')} \n\t,${visibility_km:replaceNull('NULL')} \n\t,'Meteostat'\t\n)\nON CONFLICT ON CONSTRAINT unique_timestamp_and_location DO NOTHING","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a36f2c-28f2-348b-91a6-06f8e6035e77"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}